html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 960px;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
	font-family: 'CircularStd', 'Roboto', sans-serif;
	font-weight: bold;
}
.side-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2ad86b;
	height: 100%;
}
